## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build results
[Dd]ebugPublic/
[Rr]eleases/
build/
msbuild.log
msbuild.err
msbuild.wrn

## User-specific
*.userprefs
mono_crash.*

## JetBrains Rider
.idea/
*.sln.iml

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Secrets
appsettings.*.local.json
*.pfx
*.key
.planning/
